<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contcat Us </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <div id="preloader">
    <div class="loader-container">
      <div class="spinner"></div>
      <div class="loader-text">Loading...</div>
    </div>
  </div>

  <div id="toast"
    style="visibility:hidden; min-width:200px; background:#333; color:#fff; text-align:center; border-radius:5px; padding:10px; position:fixed; bottom:30px; left:50%; transform:translateX(-50%); z-index:1000;">
    Copied to clipboard!
  </div>

  <div th:replace="~{header :: nav}"></div>
  <div class="container mt-4">
    <h1 class="text-center mb-4">Any Suggestions</h1>

    <div class="container py-5" style="max-width: 500px;">
      <h1 class="text-center mb-4">Contact Us</h1>

      <form th:action="@{/contact}" method="post">

        <!-- Select -->
        <div class="mb-3">
          <select name="type" id="type" class="form-select bg-body border border-secondary text-secondary" required>
            <option value="">Feedback Type ...</option>
            <option value="bug_report">Bug Report</option>
            <option value="general">General</option>
            <option value="feature_request">Feature Request</option>
          </select>
        </div>

        <!-- Message -->
        <div class="mb-3">
          <textarea name="message" cols="30" rows="5" class="form-control bg-body border border-secondary text-body"
            placeholder="Message..." style="min-height: 150px; max-height: 200px;"></textarea>
        </div>

        <!-- Button -->
        <button type="submit" name="send-msg-btn" class="btn btn-primary w-100">
          <i class="fa fa-send"></i> Send
        </button>

      </form>
    </div>
  </div>
  <div th:replace="~{footer :: div}"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/scripts.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>