<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background: #343a40;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>About - Tech2xplore</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body class="bg-dark text-light">

  <div th:replace="~{header :: nav}"></div>

  


  <div th:replace="~{footer :: div}"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/scripts.js"></script>
  <!-- Custom JS -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const pageWrapper = document.querySelector('.page-wrapper');
      const goHomeBtn = document.getElementById('go-home-btn');

      // Initial rotate-in animation on load (no rotation)
      pageWrapper.classList.add('rotate-in');

      // Handle click event on "Go Home" button
      goHomeBtn.addEventListener('click', function () {
        pageWrapper.classList.remove('rotate-in');
        pageWrapper.classList.add('rotate-out');

        // Redirect after animation completes
        setTimeout(function () {
          window.location.href = '/'; // Redirect to the home page
        }, 1200); // Wait for the animation to finish
      });
    });
  </script>
</body>

</html>