<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background: #343a40;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${topic} + ' Posts'"> </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background:#343a40">

	<div th:replace="~{header :: nav}"></div>

	<div class="posts-list" style="margin-bottom: 300px;">
		<h1 style="margin-bottom : 15px;" th:text="${topic} + ' Posts'"></h1>
		<div class="post-container">
			<div th:if="${#lists.isEmpty(posts)}" class="not-found-message">
				<h2>Posts Are Currently Not Available</h2>
			</div>
			<div th:each="post : ${posts}" class="post mb-4" style="max-width:800px;">
				<div class="post-card p-4">
					<div class="post-content">
						<div class="container">

							<div class="author-box">
								<div class="author-profile">
									<img th:src=" '/' + @{images/logo.jpg}" alt="Author Profile Picture"
										class="author-image">
								</div>
								<div class="author-details">
									<h3 class="author-name" th:text="${post.name}"></h3><span
										th:text="'@'+${post.username}"> </span>
									<p class="author-bio" th:text="${post.bio}"></p>
								</div>
							</div>
							<div class="post-header d-flex align-items-center">
								<h2 class="post-title mb-0" th:text="${post.title}"></h2>
								<div class="post-category">
									<span class="badge bg-secondary" th:text="${post.category}"></span>
								</div>
							</div>


							<div th:classappend="${#strings.length(post.description) > 1000} ? 'post-image-large' : 'post-image-flex'"
								class="post-image">
								<img th:if="${post.articleId > 5 }" th:src="'/' + @{images/logo.jpg}" alt="Post Image"
									th:style="${#strings.length(post.description) > 1000} ? 'width: inherit; height: inherit;' : 'width: 300px; height: 300px;'" />

								<div class="post-content" style="overflow-wrap:anywhere;">
									<p class="post-description" th:text="${post.description}"
										th:if="${post.description.length() <= 1000}" style="text-align: left;">
									</p>

									<p class="post-description" th:if="${post.description.length() > 1000}"
										style="text-align: left;">
										<span th:text="${post.description.substring(0, 2500)}"></span>
										<span class="more-text" style="display: none;"
											th:text="${post.description.substring(2500)}"></span>
										<button class="toggle-button" onclick="toggleReadMore(this)">Read
											more...</button>
									</p>

								</div>
							</div>
							<div class="post-actions d-flex border-top pt-3"
								style="margin-top :0; gap: 5px; justify-content: space-between;">
								<button class="oper btn btn-dark d-flex align-items-center" style="gap: 5px;">
									<i class="bi bi-hand-thumbs-up"></i> <span
										th:text="${post.likes} + ' Likes'"></span>
								</button>
								<button class="oper btn btn-dark d-flex align-items-center" style="gap: 5px;">
									<i class="bi bi-hand-thumbs-down"></i> <span
										th:text="${post.dislikes} + ' Dislikes'"></span>
								</button>
								<button class="btn btn-dark d-flex align-items-center" data-bs-toggle="modal"
									data-bs-target="#commentModal" style="gap: 5px; position:sattic;">
									<i class="bi bi-chat"></i> <span>Comment</span>
								</button>
								<button class="btn btn-dark d-flex align-items-center" style="gap: 5px;">
									<i class="bi bi-reply"></i> <span>Reply</span>
								</button>
							</div>

							<div class="post-metadata">
								<div class="author-info">
									<i class="icon-user"></i>
									<span class="author-name" th:text="'@' + ${post.username}"></span>
								</div>
								<div class="post-date">
									<i class="icon-calendar"></i>
									<span class="date-text" th:text="${post.updatedat}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{footer :: div}"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/scripts.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>