<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- Include your custom stylesheet -->
    <link rel="stylesheet" th:href="@{/css/login.css}"> <!-- Include your custom stylesheet for login -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body >

    <div id="preloader">
	    <div class="loader-container">
	        <div class="spinner"></div>
	        <div class="loader-text">Loading...</div>
	    </div>
	</div>

	<div id="toast" style="visibility:hidden; min-width:200px; background:#333; color:#fff; text-align:center; border-radius:5px; padding:10px; position:fixed; bottom:30px; left:50%; transform:translateX(-50%); z-index:1000;">
	  Copied to clipboard!
    </div>

    <div th:replace="~{header :: nav}"></div>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header text-center">
                    <h2 class="mb-0">Are You Sure Do You Want to Logout ?</h2>
                </div>
                <div th:if="${param.success}" class="alert alert-warning text-center" role="alert">
                    <span th:text="'Logout successful! You are redirected at Login In 3 Seconds ...'"></span>
                </div>
                <div class="card-body" id="logout">
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        <span th:text="'Logout failed. Try Later'"></span>
                    </div>

                    <div th:if="${error}" class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>

                    <form th:action="@{/custom-logout}" method="post"> <!-- Fixed form action -->
                        <button type="submit" class="btn btn-primary w-100">Logout</button>
                    </form>
                </div>
                <div class="justify-content-center mt-5 mb-5 " style="display :none; " id="loader">
                    <div class="spinner-border text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{footer :: div}"></div>

    <script>

        let queryParameters = window.location.search.substring(1);

        const queries = queryParameters.split("&")

        for (let query of queries) {
            const [key, value] = query.split("=");
            if (key === "success" && value === "true") {
                const loader = document.getElementById("loader");
                const logout = document.getElementById("logout");
                logout.style.display = "none";
                loader.style.display = "show";
                loader.classList.add("d-flex");
                setTimeout(
                    () => {
                        window.location.href = "/login?logout=true";
                    }, 3000
                );
                break;
            }
        }

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>
