<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background: #343a40;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Filters </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style th:each="color, iterStat : ${colors}">
	.color-[[${iterStat.index}]] {
	    background-color : white;
	    border : 1px solid [[${color}]];
	    color : [[${color}]];
	}
	.color-[[${iterStat.index}]]:hover {
	    background-color : [[${color}]];
	    color: white;
	    border: 1px solid [[${color}]];
	}
	
	.color-[[${iterStat.index}]]:click {
	    background-color : [[${color}]];
	    color: white;
	    border: 1px solid [[${color}]];
	}
	
	.color-[[${iterStat.index}]]-clicked {
	    background-color : [[${color}]];
	    color: white;
	    border: 1px solid [[${color}]];
	}
</style>

<body style="background:#343a40">

	<div th:replace="~{header :: nav}"></div>
	
	<div class="container mt-4 mb-4">
	    <!-- Categories Section -->
	    <div class="mycard d-flex" style="flex-direction: row; flex-wrap: wrap; min-height: 50px;">
	        <h2 th:text="${#lists.isEmpty(categories) ? 'Categories Are Not Available' : 'Categories :'}"></h2>
	        <th:block th:each="category, iterStat : ${categories}">
	            <button 
	                th:class="'tag color-' + ${iterStat.index} + '-clicked'" 
	                th:attr="data-category=${category}, data-url='/mass-filter/category/' + ${category}" 
	                th:text="${category}" >
	            </button>
	        </th:block>
	    </div>
	</div>
	
	<div class="container mt-4 mb-4">
	    <!-- Keywords Section -->
	    <div class="mycard d-flex" style="flex-direction: row; flex-wrap: wrap; min-height: 50px;">
	        <h2 th:text="${#lists.isEmpty(keywords) ? 'Keywords Are Not Available' : 'Keywords :'}"></h2>
	        <th:block th:each="keyword, iterStat : ${keywords}">
	            <button 
	                th:class="'tag color-' + ${iterStat.index}" 
	                th:attr="data-keyword=${keyword}, data-url='/mass-filter/keyword/' + ${keyword}"  
	                th:text="${keyword}" >
	            </button>
	        </th:block>
	    </div>
	</div>

	<div class="container mt-4" >
		<div class="container" id="postsBox">
	        <h1 th:if="${topic != null}" class="text-center mb-4" th:text="${topic} + ' Posts'"></h1>
			<div th:if="${posts != null}" th:replace="~{post :: div}" ></div>
		</div>
		<div class="justify-content-center mt-5 mb-5 "  style="display :none; " id="loader" >
              <div class="spinner-border text-dark"role="status">
			  <span class="sr-only">Loading...</span>
			</div>
		</div>
    </div>
	<div th:replace="~{footer :: div}"></div>

	<script>
	
	const loader = document.getElementById("loader");
	const posts = document.getElementById("postsBox");
	
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.tag').forEach(button => {
            button.addEventListener('click', function() {
                const url = button.getAttribute('data-url');
                if (url) {
                	
                	posts.style.display = "none";
                	loader.style.display = "show";
                	loader.classList.add("d-flex");
                	                	
                    window.location.href = url;
                }
            });
        });
    });
</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/scripts.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>